@import '~@sass/pc/mixin';

.form {
    &-item {
        min-height: 56px;
        &-label {
            overflow: hidden;
            white-space: nowrap;

            vertical-align: middle;
            line-height: 32px;
            & > label {
                position: relative;
                line-height: 32px;
                height: 32px;
                &::after {
                    content: ':';
                    position: relative;
                    top: -0.5px;
                    margin: 0 8px 0 2px;
                }
                &.form-item-required::before {
                    display: inline-block;
                    margin-right: 4px;
                    color: #ff4d4f;
                    font-size: 14px;
                    font-family: SimSun, sans-serif;
                    line-height: 1;
                    content: '*';
                }
            }
        }
        &-control {
            &-input {
                position: relative;
            }
        }
        @mixin feedback {
            clear: both;
            min-height: 24px;
            // line-height: 1.5715;
            line-height: 24px;
            transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
            padding-left: 24px;
            position: relative;
            svg {
                position: absolute;
                left: 0;
                top: 2px;
            }
        }
        &-error {
            @include feedback;
            color: #ff4d4f;
        }
        &-warn {
            @include feedback;
            color: #faad14;
        }
        &-success {
            @include feedback;
            color: #52c41a;
        }
        &-text {
            float: left;
            line-height: 32px;
            width: 240px;
            @include text-ellipse;
        }
        &-has {
            &-feedback {
                .input-suffix-wrapper {
                    width: 240px;
                }
                .input-suffix-wrapper-clear {
                    padding-right: 40px;
                }
                .input-suffix {
                    right: 27px;
                }
            }
            &-error {
                .input,
                .kf-picker {
                    background: #fff;
                    border-color: #ff4d4f;
                }
            }
            &-warn {
                .input,
                .kf-picker {
                    background: #fff;
                    border-color: #faad14;
                }
            }
            &-success {
                .input,
                .kf-picker {
                    background: #fff;
                    border-color: #52c41a;
                }
            }
        }
    }
    &-horizontal {
        .form {
            &-item {
                &-label {
                    float: left;
                    width: 86px;
                    text-align: right;
                }
                &-control {
                    float: left;
                }
            }
        }
    }
}
